.resume {
	position: relative;
	/*width: 80%;*/
	padding: 4em;
	margin: 4em auto;
	background-color: #fff0;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#skills {
	margin: 1em auto;
}

#experience {
	margin: 1em auto;
}

#job {
	margin: 1em auto;
}