.resume {
	position: relative;
	width: 74em;
	padding: 4em;
	margin: 4em;
	background-color: #fff0;

	/* shadow */
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	
	/* rounded */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	
}

#skills {
	margin: 1em auto;
}


#job {
	margin: 1em auto;
}

.border {
	margin: 1em auto;
	padding-bottom: 1em;
	-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

}